.content{
  overflow: hidden;
  white-space: nowrap;
  padding: 50px 0;

  &:hover .content__slide{
    animation-play-state: paused;
  }

  &__slide{
    display: inline-block;
    animation: 8s slide infinite linear;
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to{
    transform: translateX(-100%);
  }
}